parameters:
    level: 6

    paths:
        - src
        - helpers

    ignoreErrors:
        # false positive
        - '#Function get_json_chunk\(\) never returns void so it can be removed from the return type#'